1.Use python standard libraries to do the following (2 points)
    1) Print the remainder when 18 is divided by 4
    2) Print all the modes from the list [2,3,6,7,6,9,2]
    3) Pick a random number from the list [5,6,3,7,2,8] and print it.
    4) Print the tangent of Ï€/4

In [6]:
import math
print(int(math.fmod(18,4)))

2

In [9]:
import statistics 
s=[2,3,6,7,6,9,2]
print(statistics.mode(s))

2

In [8]:
import math
print(math.tan(math.pi/4))

0.9999999999999999

2.Using list comprehension, create a list that contains the three-digit positive multiples of 4 up to 150. (2 points)

In [11]:
m=[k for k in range(100,150) if k%4==0]
print(m)

[100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

3.Using Python, read the paragraph in the text file and print the number of occurrences of 'yet'. Replace all the occurrences of 'yet' with 'but' and write the modified paragraph to a text file named 'corrected.txt'. (4 points)

In [28]:
with open(r"original.txt","r") as f1:
    s=f1.read()
    print(f"no of occurences of 'yet':{s.count('yet')}")
    s=s.replace('yet','but')
with open(r"corrected.txt","a") as f2:
    f2.write(s)

no of occurences of 'yet':2

4.Create a tuple with values - "January", 2, "February", 7, "THREE". For each element in the tuple, print its lowercase form if its a string, or print its log value if it is a number. (2 points)

In [23]:
import math
t=("January",2,"February",7,"THREE")
for e in t:
    if str(e).isdigit():
        print(math.log(e))
    else:
        print(str(e).lower())

january
0.6931471805599453
february
1.9459101490553132
three

5.Write a python program to create the dictionary of courses and scores:- 'Biology': 55, 'Chemistry': 75, 'Physics':47, 'Geography':93 and do the following. (3 points)
    1) Add "History": 100 to the dictionary
    2) Change the value of Physics to 66
    3) Print the mean of all the scores
    4) Print all the course names.

In [14]:
d={'Biology':55,'Chemistry':75,'Physics':47,'Geography':93}
d["History"]=100

d['Physics']=66

import statistics
print(statistics.mean(d.values()))

print(d.keys())

77.8
dict_keys(['Biology', 'Chemistry', 'Physics', 'Geography', 'History'])

6.Create a list of words that start with the letter 's' from the string "she sells seashells on the seashore". (2 points)

In [3]:
h="she sells seashells on the seashore"
l=h.split()
r=[i for i in l if i.startswith('s')]
print(r)

['she', 'sells', 'seashells', 'seashore']

7.Create a list named list1 with values ['a', 'b', 'c']. Create another list2 with values ['a', 'b', 'c']. Print the object equality and value equality of list1 and list2. Create both shallow and deep copies of the list1. Find and print the object equality between list 1 and the shallow copy and between list 1 and the deep copy. (3 points)

In [2]:
list1=['a','b','c']
list2=['a','b','c']
print(list1 is list2)
print(list1==list2)
list1_s=list1
list1_d=list1.copy()
print(list1_s is list1)
print(list1_d is list1)

False
True
True
False

8.Write a function that takes a list as an input and returns a list of unique values and a list of all duplicates. Print the list of unique and duplicate values by calling the function with the list [2,3,4,2,6,5,3,2] (2 points)

In [22]:
def dup(lst):
    u_list,d_list=[],[]
    for x in lst:
        if x not in u_list:
            u_list.append(x)
        else:
            d_list.append(x)
    return u_list,d_list
print(dup([2,3,4,2,6,5,3,2]))

([2, 3, 4, 6, 5], [2, 3, 2])